:root{
    --mainColor: rgb(223, 134, 134);
    --secondaryColor: rgb(128, 68, 68);

    --borderColor: #c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder: #24292e;

    --previewBg: rgb(228,128,128);

    --previewShadow: rgb(200,100,100);

    --buttonColor: black;

    --horizontalThickLine: #FF6F00;
    
    --seperateColorful: rgb(175,0,0);

    --containingWrapperColor: #FF6666;

    --aLinksColor: #fff;

    --hiColor: rgb(200,200,200);

    --insiderBall: rgb(200,200,200);

    --projectColor: var(--mainColor);

    --servicesColor: rgb(80,80,80);

}

.Content_Of_Project_Info p, #Operations-list p {
    color: rgb(200,200,200);
}